.inner_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem;

  .title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #212121;
    margin-top: 4rem;
  }
  .subtitle {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-top: 2rem;
    color: #212121;
  }
  .links {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    button {
      border: 0;
      padding: 0;
      outline: none;
      background: #fff;
      font-size: 2.4rem;
      line-height: 2.8rem;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;

      svg {
        transition: all 0.3s ease;
        path {
          fill: #000000;
        }
      }
      &.back {
        svg {
          transform: rotate(180deg);
          padding-left: 2rem;
        }
      }
      &.forward {
        svg {
          padding-left: 2rem;
        }
      }
      &:hover {
        color: #1a3d4a;

        svg {
          path {
            fill: #1a3d4a;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .inner_content {
    padding: 3rem 0;
    .title {
      text-align: center;
    }
    .subtitle {
      font-weight: normal;
    }
    .links {
      flex-direction: column;
      svg {
        display: none;
      }
      button {
        margin-bottom: 2rem;
        color: #1a3d4a;
      }
      button:nth-child(1) {
        order: 2;
        color: #000;
      }
    }
  }
}
