// Fonts
@import url('/fonts/SFPro/stylesheet.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  font-size: 62.5%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display';
  width: 100%;
  height: 100%;
}
body {
  background: #1a3d4a;
}

* {
  outline: none;
  box-sizing: unset;
  &:focus {
    outline: none;
  }
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
}

.page {
  background: unset;
}

@media screen and (min-width: 769px) {
  * {
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #eaeaea;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #eaeaea;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #bebebe;
    }
  }
}

@media (max-width: 1400px) {
  html,
  body {
    font-size: 53.5%;
  }
}
@media (max-width: 1200px) {
  html,
  body {
    font-size: 43.5%;
  }
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 62.5%;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

button:focus {
  outline: none;
}

input {
  outline: none;
}
h1 {
  margin: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.ReactModalPortal {
  position: relative;
  z-index: 100;
}
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  padding: 3rem 0;
  overflow: auto;
  .ReactModal__Content {
    transform: scale(0.6);
    transition: transform 300ms ease-in-out;
    margin: auto;
  }
}
.ReactModal__Body--open {
  overflow: hidden !important;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  .ReactModal__Content {
    transform: scale(1);
  }
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  .ReactModal__Content {
    transform: scale(0.6);
  }
}

@media screen and (max-width: 768px) {
  .ReactModal__Overlay {
    .ReactModal__Content {
      transform: scale(1);
      transition: transform 300ms ease-in-out;
    }
  }
  .ReactModal__Overlay--after-open {
    opacity: 1;
    .ReactModal__Content {
      transform: scale(1);
    }
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
    .ReactModal__Content {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 767px) {
  .swiper-container {
    width: 100%;
    .swiper-pagination {
      bottom: 0;
      left: auto;
      width: 20%;
      right: 20%;
    }
  }
}

.draggable-source--is-dragging {
  visibility: hidden !important;
  svg {
    display: none !important;
  }
}
.draggable--original {
  visibility: hidden !important;
  display: none !important;
  svg {
    visibility: hidden !important;
  }
}
.draggable-mirror {
  z-index: 999999;
  border-bottom: none;
  border-top: none !important;
}
.drag_container {
  outline: none;
}
.drag_item {
  outline: none;
}
@media screen and (max-width: 768px) {
  .draggable-mirror {
    box-shadow: 0px 4px 40px rgba(179, 179, 179, 0.514) !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background: url('/image/icon/nav_arrow_purple.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}
.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button-disabled {
  opacity: 0.5;
}

.jq-toast-wrap {
  width: 300px;
  z-index: 20000 !important;
  position: fixed;
}
.jq-toast-single {
  border-radius: 50px;
  background-color: rgba(2, 2, 2, 0.79);
  color: #fff;
  width: fit-content;
  margin: 0 auto;
}
.jq-toast-single h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  white-space: nowrap;
}
.jq-toast-loader {
  display: none;
}
.jq-has-icon {
  padding: 10px 30px 10px 60px;
  background-position: 25px;
}
.jq-icon-success {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==');
}

.jq-icon-error {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=');
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
