@import url('https://fonts.googleapis.com/css2?family=Circe:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@font-face {
  font-family: 'Circe Extra Bold';
  src: url('/fonts/Circe-ExtraBold.eot');
  src: url('/fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Circe-ExtraBold.woff') format('woff'),
    url('/fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
