.container {
  .title {
    font-size: 2rem;
    line-height: 2.3rem;
    color: #ffffff;
  }

  .items_container {
    margin-top: 2.5rem;
    .item {
      width: 100%;
      height: 8rem;
      border: 0.1rem solid #424242;
      position: relative;
      margin-bottom: 2rem;
      border-radius: 1rem;
      overflow: hidden;
      display: block;

      .back_img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
      .gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(110deg, #2a444e 43.23%, rgba(42, 68, 78, 0.2) 100%);
      }
      .text_block {
        position: relative;
        z-index: 1;
        padding: 2rem 3rem 2rem 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .name {
          font-size: 1.8rem;
          line-height: 2.1rem;
          color: #ffffff;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .trigger {
          padding-left: 2rem;
          flex-shrink: 0;
          img {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}
