.item {
  background: #191a1f;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  &.active {
    background: #2b2b2b;
  }
  .row {
    padding: 1rem 0 1rem 1rem;
    min-height: 2.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    .icon {
      width: 2.5rem;
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
    }
    .text {
      padding-left: 4rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #ffffff;
    }
    .trigger {
      margin-left: auto;
      width: 1.5rem;
      padding: 1rem 1.5rem;
      transition: transform 0.3s ease;

      &.active {
        transform: rotate(180deg);
      }
    }
  }
}
