.container {
  margin-top: 3rem;
  padding: 0 6rem;
  .not_auth_txt {
    font-size: 2.4rem;
    line-height: 115%;
    color: #000000;
    text-align: center;
  }
  .title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #314f61;
    margin-top: 5rem;
  }
  .input_block {
    .comment_input {
      display: flex;
      width: calc(100% - 5rem);
      background: #424242;
      border-radius: 10rem;
      padding: 1.5rem 2.5rem;
      .user_img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        flex-shrink: 0;
        margin-right: 2rem;
        border-radius: 50%;
      }
      .send_img {
        flex-shrink: 0;
        width: 3.4rem;
      }
      input {
        border: 0;
        background: transparent;
        font-size: 1.8rem;
        line-height: 2.1rem;
        width: 100%;
        color: #ffffff;

        &::placeholder {
          color: #ffffff;
        }
      }
    }
  }
  .comments_items {
    margin-top: 4rem;
    .item {
      margin: 1.5rem 0;
      display: flex;
      padding: 0 1rem;
      img {
        display: block;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        flex-shrink: 0;
        margin-right: 2rem;
        border-radius: 50%;
        box-shadow: 0 0.4rem 3rem #f0f0f0;
      }
      .center {
        margin-left: 1rem;
      }
      .nickname {
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: #191a1f;
        font-weight: bold;
      }
      .text {
        margin-top: 1rem;
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: #000000;
      }
    }
  }
}
