.container {
  display: flex;
  height: fit-content;
  align-items: center;
  width: 33rem;
  flex-wrap: wrap;
}
.item {
  background: rgba(25, 26, 31, 0.7);
  border-radius: 10rem;
  padding: 1.2rem 2.5rem 1rem 2.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #ffffff;
  margin-bottom: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease;
  &.hovered {
    opacity: 0.5;
  }
  &:hover,
  &.selected {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin-bottom: 2rem;
  }
  .item {
    padding: 0.7rem 1.5rem;
    font-size: 1.6rem;
    line-height: 130%;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
}
