.content_layout {
  width: calc(100% - 12rem);
  padding: 0 6rem 6rem;
  margin: 0 auto;
  max-width: 144rem;

  .headline {
    font-weight: bold;
    font-size: 14.4rem;
    line-height: 16.9rem;
    color: #ffffff;
    margin-top: 3rem;
  }

  .cols_container {
    display: flex;
    margin-top: 9rem;
  }

  .one {
    > div {
      width: 100%;
    }
  }

  .two {
    > div:first-child {
      width: 19.5rem;
      flex-shrink: 0;
    }
    > div:last-child {
      width: calc(100% - 19.5rem - 6rem);
      margin-left: 6rem;
    }
  }
  .three {
    justify-content: space-between;
    > div:first-child {
      width: 19.5rem;
      padding-right: 6rem;
      flex-shrink: 0;
    }
    > div:nth-child(2) {
      width: calc(100% - 62rem);
    }
    > div:last-child {
      width: 30.5rem;
      padding-left: 6rem;
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .content_layout {
    width: calc(100% - 4rem);
    padding: 0 2rem 6rem;
    .cols_container {
      margin-top: 3rem;
    }
    .headline {
      display: none;
    }
  }
}
