.container {
  width: calc(100% - 12rem);
  padding: 0 6rem 6rem;
  margin: 0 auto;
  max-width: 144rem;
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding: 0 2rem 2rem;
    box-sizing: border-box;
  }
}
