.header_container {
  background: rgba(0, 0, 0, 0.3);
  padding: 1.5rem 6rem;
  position: relative;
  z-index: 3;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 12rem);
  }

  .content {
    max-width: 132rem;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .left,
    .right {
      width: 40%;
    }
    .center {
      width: 20%;
      img {
        margin: 0 auto;
        width: 20rem;
        display: block;
      }
    }
    .left {
      display: flex;
      align-items: center;
      img {
        width: 3rem;
        cursor: pointer;
      }
      .search_block {
        border: 0.1rem solid #ffffff;
        height: 5rem;
        padding: 0 4rem;
        display: flex;
        align-items: center;
        border-radius: 3rem;
        margin: 0;
        margin-left: 2rem;
        input {
          border: none;
          background: transparent;
          color: #ffffff;
          font-size: 1.8rem;
          line-height: 2.1rem;
          &::placeholder {
            color: #ffffff;
            font-size: 1.8rem;
            line-height: 2.1rem;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .nav_item {
        width: fit-content;
        padding: 0 2rem 0 2rem;
        &:last-child {
          padding: 0 0 0 2rem;
        }
        a {
          color: #ffffff;
          font-size: 1.8rem;
          line-height: 2.1rem;
          position: relative;
          &:before,
          &:after {
            content: '';
            position: absolute;
            bottom: -1rem;
            width: 0;
            height: 0.2rem;
            margin: 0.5rem 0 0;
            transition: 0.3s;
            // transition-duration: 0.75s;
            opacity: 0;
            background-color: #ffffff;
          }
          &:before {
            left: 50%;
          }
          &:after {
            right: 50%;
          }

          &:hover,
          &.active {
            &:before,
            &:after {
              width: 50%;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
