.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &.short {
    width: calc(50% - 1rem);
    // margin-bottom: 2rem;
  }
  //   &.long {
  //     height: calc(50%-1rem);
  //   }
  //   &.high {
  //     height: 100%;
  //   }
  .back_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .gradient {
    position: absolute;
    height: 70%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(25, 26, 31, 0) 0%, #191a1f 100%);
  }
  .shadow {
    background: rgba(25, 26, 31, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .title {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #ffffff;
    position: absolute;
    left: 3rem;
    width: calc(100% - 6rem);
    text-align: center;
    bottom: 6rem;
    transition: all 0.3s ease;
  }
  .description {
    display: -webkit-box;
    max-width: calc(100% - 6rem);
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
    opacity: 0;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #ffffff;
  }
  .info {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #ffffff;
  }
  &:hover {
    .shadow {
      opacity: 1;
    }
    .title {
      transform: translateY(50%);
      bottom: 37rem;
    }
    .description {
      transition-delay: 0.3s;
      opacity: 1;
    }
  }
}
