.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;

  &.short {
    height: calc(50% - 1rem);
    margin-bottom: 2rem;
  }
  .back_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .gradient {
    position: absolute;
    height: 70%;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(25, 26, 31, 0) 0%, #191a1f 100%);
  }
  .shadow {
    background: rgba(25, 26, 31, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .anim {
    transition: 0.5s;
    transform: translateY(100%);
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
  }
  .title {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #ffffff;
    transition: 0.5s;
    transform: translateY(-100%);
  }
  .description {
    display: -webkit-box;
    // max-width: calc(100% - 6rem);
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ffffff;
  }
  &.short {
    .description {
      -webkit-line-clamp: 2;
    }
  }
  .time_block {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    opacity: 1;
    transition: opacity 0.3s ease;
    img {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
    }
    .time {
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: #ffffff;
    }
  }
  &:hover {
    .shadow {
      opacity: 1;
    }
    .anim {
      transform: translateY(0);
    }
    .title {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .horiz_card {
    display: flex;
    margin-top: 2rem;

    .img_block {
      width: 16rem;
      height: 9rem;
      flex-shrink: 0;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(180deg, rgba(25, 26, 31, 0) 0%, #191a1f 100%);
      }
      .time_block {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 0.3rem 0.5rem;
        background: #191a1f;
        border-radius: 0.5rem;
        top: 1rem;
        right: 1rem;
        img {
          width: 1.2rem;
        }
        div {
          font-size: 0.9rem;
          line-height: 0.9rem;
          text-transform: uppercase;
          color: #ffffff;
          padding-left: 0.5rem;
        }
      }
    }
    .info_block {
      padding-left: 2rem;
      color: #fff;
      .title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 115%;
      }
      .description {
        margin-top: 1.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1rem;
        line-height: 1.2rem;
        color: #fff;
      }
    }
  }
}
