.container {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 6rem;
}
.content {
  width: calc(100% - 32rem);
  height: auto;
  max-width: 110rem;
  position: relative;
  margin: 0 auto;
  padding-left: 8rem;
}
.back_text {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 14.4rem;
  line-height: 16.9rem;
  color: #ffffff;
  font-weight: bold;
  top: 10rem;
  left: -30rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
