.container {
  width: 100%;
  padding: 6rem 0;
  .card {
    background: #ffffff;
    margin: 0 auto;
    width: 48rem;
    padding: 6rem;
    font-size: 2.4rem;
    line-height: 2.8rem;

    color: #000000;
    .img {
      width: 35rem;
    }
    .txt {
      margin-top: 3rem;
    }
  }
}
