.container {
  width: 100%;
  padding: 8rem 0;
  .card {
    width: calc(100% - 32rem);
    max-width: 110rem;
    padding-left: 8rem;
    font-size: 3.6rem;
    line-height: 130%;
    font-weight: normal;
    color: #ffffff;
    margin: 0 auto;
    .txt {
      max-width: 85rem;
    }
  }
}
