.container {
  width: 100%;
  padding: 6rem 0;
  height: 70rem;
  background: #ffffff;

  .content {
    width: calc(100% - 12rem);
    height: 6rem;
    max-width: 110rem;
    position: relative;
    margin: 0 auto;
  }
  .back_text {
    position: absolute;
    transform: rotate(-90deg);
    font-size: 14.4rem;
    line-height: 16.9rem;
    color: #000000;
    font-weight: bold;
    top: 16rem;
    left: -25rem;
  }
}
